<main class="main-content main-content-column">
  <div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlexOffset="5">
      <div
        fxLayout="column"
        fxLayoutAlign="start start"
        fxFlex="50"
        fxFlex.lt-lg="90"
      >
        <div fxLayout="row" fxLayoutAlign="start-stretch" fxFlexFill>
          <mat-card
            fxFlexFill
            fxLayout="column"
            fxLayoutGap="16px"
            class="register-card"
          >
            <mat-card-content>
              <div fxLayout="column" fxLayoutAlign="space-between">
                <h1>Registrácia</h1>
                <form
                  [formGroup]="registerForm"
                  (ngSubmit)="onSubmit()"
                  fxLayout="column"
                  fxLayoutGap="20px"
                >
                  <mat-form-field color="accent">
                    <mat-label>E-mail</mat-label>
                    <input
                      formControlName="email"
                      matInput
                      autocomplete="email"
                    />
                    <mat-error
                      *ngIf="registerForm.controls['email'].errors?.required"
                    >
                      Povinné pole
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field color="accent">
                    <mat-label>Heslo</mat-label>
                    <input
                      formControlName="password"
                      autocomplete="password"
                      matInput
                      [type]="hidePassword ? 'password' : 'text'"
                    />
                    <mat-icon
                      matSuffix
                      (click)="hidePassword = !hidePassword"
                      >{{
                        hidePassword ? "visibility_off" : "visibility"
                      }}</mat-icon
                    >
                    <mat-error
                      *ngIf="registerForm.controls['password'].errors?.required"
                      >Nie je zadané heslo</mat-error
                    >
                    <mat-error
                      *ngIf="registerForm.controls['password'].errors?.pattern"
                    >
                      Heslo musí byť dlhé aspoň 6 znakov a musí obsahovať aspoň
                      1 veľké, 1 malé písmeno a 1 číslicu
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field color="accent">
                    <mat-label>Potvrdenie hesla</mat-label>
                    <input
                      [type]="hideConfirmPassword ? 'password' : 'text'"
                      formControlName="confirmPassword"
                      matInput
                    />
                    <mat-icon
                      matSuffix
                      (click)="hideConfirmPassword = !hideConfirmPassword"
                      >{{
                        hideConfirmPassword ? "visibility_off" : "visibility"
                      }}</mat-icon
                    >
                    <mat-error
                      *ngIf="
                        registerForm.controls['confirmPassword'].errors
                          ?.required
                      "
                    >
                      Nie je zadané potvrdenie hesla
                    </mat-error>
                    <mat-error
                      *ngIf="
                        registerForm.controls['confirmPassword'].errors
                          ?.notEqual
                      "
                    >
                      Heslá sa nezhodujú
                    </mat-error>
                  </mat-form-field>
                  <div fxLayout="row" fxLayoutAlign="end">
                    <button
                      mat-raised-button
                      [disabled]="registerForm.invalid"
                      type="submit"
                      color="primary"
                    >
                      <div
                        fxLayout="row"
                        fxLayoutAlign="start center"
                        fxLayoutGap="5px"
                      >
                        <mat-icon>person_outline</mat-icon>
                        <span>Registrovať</span>
                      </div>
                    </button>
                  </div>
                </form>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</main>
