<div matDialogContent>
  <div fxLayout="column" fxLayoutAlign="space-between">
    <form
      [formGroup]="patientForm"
      (ngSubmit)="onSubmit()"
      fxLayout="column"
      fxLayoutGap="20px"
    >
      <div fxLayout="row" fxLayoutGap="16px">
        <mat-form-field fxFlex>
          <mat-label>Meno</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Priezvisko</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="16px">
        <mat-form-field fxFlex>
          <mat-label>Rodné číslo</mat-label>
          <input matInput formControlName="identificationNumber" />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Dátum narodenia</mat-label>
          <input matInput formControlName="birthDate" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="16px">
        <mat-form-field fxFlex>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Telefón</mat-label>
          <input matInput formControlName="phone" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="16px">
        <mat-form-field fxFlex>
          <mat-label>Ulica</mat-label>
          <input matInput formControlName="street" />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Číslo domu</mat-label>
          <input matInput formControlName="houseNumber" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="16px">
        <mat-form-field fxFlex>
          <mat-label>Mesto</mat-label>
          <input matInput formControlName="city" />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>PSČ</mat-label>
          <input matInput formControlName="zipCode" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="16px">
        <mat-form-field fxFlex>
          <mat-label>Krajina</mat-label>
          <input matInput formControlName="country" />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Číslo poisťovne</mat-label>
          <input matInput formControlName="insuranceCode" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="16px">
        <mat-form-field fxFlex>
          <mat-label>Váha</mat-label>
          <input matInput formControlName="weight" />
          <span matSuffix>kg</span>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Výška</mat-label>
          <input matInput formControlName="height" />
          <span matSuffix>cm</span>
        </mat-form-field>
      </div>
      <mat-form-field *ngIf="isLoaded">
        <mat-label>Pohlavie</mat-label>
        <mat-select [formControl]="sexControl">
          <mat-option
            *ngFor="let option of sexOptions"
            value="{{ option.id }}"
            >{{ option.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="16px">
        <button mat-stroked-button type="button" (click)="onClick(null)">
          Zrušiť
        </button>
        <button mat-raised-button type="submit" color="primary">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
            <mat-icon>save</mat-icon>
            <span>Uložiť</span>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>
