<h1 mat-dialog-title fxLayoutAlign="center center">{{ data.title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="anamnesisForm" (submit)="onSubmit()">
    <mat-form-field fxFlex>
      <textarea matInput rows="6" formControlName="description"></textarea>
    </mat-form-field>
  </form>
</div>
<div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
  <button mat-stroked-button (click)="onClick(null)">Zrušiť</button>
  <button
    mat-raised-button
    [disabled]="!isFormValid"
    (click)="onSubmit()"
    color="primary"
  >
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
      <mat-icon>save</mat-icon>
      <span>Uložiť</span>
    </div>
  </button>
</div>
