.new-record-container {
  padding: 16px;
}

.new-record-list-item {
  background-color: var(--root-light-accent-text);
}

.new-record-list-item-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.new-record-list-item-info-button {
  position: absolute;
  top: 5px;
  right: 35px;
}

.new-record-bottom-divider {
  border-top: solid 1px rgba(16, 15, 16, 0.12);
  padding-top: 5px;
}
