<div
  fxLayout="column"
  fxLayoutAlign="start"
  fxLayoutGap="16px"
  class="new-record-container"
>
  <h1>Nový dekurz</h1>
  <mat-card fxFlex>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-between">
        <form
          [formGroup]="recordForm"
          (ngSubmit)="onSubmit()"
          fxLayout="column"
          fxLayoutGap="20px"
        >
          <!-- description -->
          <h3>Popis:</h3>
          <mat-form-field color="accent">
            <textarea
              matInput
              rows="6"
              formControlName="description"
            ></textarea>
          </mat-form-field>

          <!-- diagnoses and procedures -->
          <div
            fxLayout="row"
            fxLayout.lt-sm="column"
            fxLayoutAlign="start-strecth"
            fxLayoutGap="16px"
          >
            <!-- diagnoses -->
            <div
              fxLayout="column"
              fxLayoutAlign="start"
              fxLayoutGap="10px"
              fxFlex
            >
              <h3>Diagnózy:</h3>
              <div fxFlex>
                <!-- diagnoses autocomplete -->
                <mat-form-field color="accent" fxFlex>
                  <mat-label>Vyhľadať diagnózu</mat-label>
                  <input
                    matInput
                    #diagnoseInputNative
                    formControlName="diagnose"
                    [matAutocomplete]="diagnoseSuggestionsAuto"
                  />
                  <mat-autocomplete
                    #diagnoseSuggestionsAuto="matAutocomplete"
                    (optionSelected)="onDiagnoseSelected($event)"
                  >
                    <mat-option
                      *ngFor="let option of diagnoseSuggestions"
                      [value]="option"
                    >
                      {{ option.abbreviation + " - " + option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <!-- diagnoses list -->
              <mat-card
                class="new-record-list-item"
                *ngFor="let diagnose of selectedDiagnoses"
              >
                <mat-card-content>
                  <button
                    mat-icon-button
                    type="button"
                    (click)="removeDiagnose(diagnose)"
                    class="new-record-list-item-close-button"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  <h4>{{ diagnose.abbreviation + " - " + diagnose.name }}</h4>
                  <p>{{ diagnose.description }}</p>
                </mat-card-content>
              </mat-card>
            </div>

            <!-- procedures -->
            <div
              fxLayout="column"
              fxLayoutAlign="start"
              fxLayoutGap="10px"
              fxFlex
            >
              <h3>Výkony:</h3>
              <div fxFlex>
                <!-- procedures autocomplete -->
                <mat-form-field color="accent" fxFlex>
                  <mat-label>Vyhľadať výkon</mat-label>
                  <input
                    matInput
                    #procedureInputNative
                    formControlName="procedure"
                    [matAutocomplete]="procedureSuggestionsAuto"
                  />
                  <mat-autocomplete
                    #procedureSuggestionsAuto="matAutocomplete"
                    (optionSelected)="onProcedureSelected($event)"
                  >
                    <mat-option
                      *ngFor="let option of procedureSuggestions"
                      [value]="option"
                    >
                      {{ option.abbreviation + " - " + option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <!-- procedures list -->
              <mat-card
                class="new-record-list-item"
                *ngFor="let procedure of selectedProcedures"
              >
                <mat-card-content>
                  <button
                    mat-icon-button
                    type="button"
                    (click)="removeProcedure(procedure)"
                    class="new-record-list-item-close-button"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  <h4>{{ procedure.abbreviation + " - " + procedure.name }}</h4>
                  <p>{{ procedure.description }}</p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>

          <div class="new-record-bottom-divider"></div>

          <!-- medicine and medical needs -->
          <div
            fxLayout="row"
            fxLayout.lt-sm="column"
            fxLayoutAlign="start-strecth"
            fxLayoutGap="16px"
          >
            <!-- medicine -->
            <div
              fxLayout="column"
              fxLayoutAlign="start"
              fxLayoutGap="10px"
              fxFlex
            >
              <h3>Predpis liekov:</h3>
              <div fxFlex>
                <!-- medicine autocomplete -->
                <mat-form-field color="accent" fxFlex>
                  <mat-label>Vyhľadať liek</mat-label>
                  <input
                    matInput
                    #medicineInputNative
                    formControlName="medicine"
                    [matAutocomplete]="medicineSuggestionsAuto"
                  />
                  <mat-autocomplete
                    #medicineSuggestionsAuto="matAutocomplete"
                    (optionSelected)="onMedicineSelected($event)"
                  >
                    <mat-option
                      *ngFor="let option of medicineSuggestions"
                      [value]="option"
                    >
                      {{ option.nazov + ", " + option.doplnok }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <!-- medicines list -->
              <mat-card
                class="new-record-list-item"
                *ngFor="let medicine of selectedMedicines"
              >
                <mat-card-content>
                  <button
                    mat-icon-button
                    type="button"
                    (click)="removeMedicine(medicine)"
                    class="new-record-list-item-close-button"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    type="button"
                    (click)="getMedicineInfo(medicine.sukl_kod)"
                    class="new-record-list-item-info-button"
                  >
                    <mat-icon>info</mat-icon>
                  </button>
                  <h4>{{ medicine.nazov + ", " + medicine.doplnok }}</h4>
                  <p>{{ "ŠÚKL kód: " + medicine.sukl_kod }}</p>
                </mat-card-content>
              </mat-card>
            </div>

            <!-- medical needs -->
            <div
              fxLayout="column"
              fxLayoutAlign="start"
              fxLayoutGap="10px"
              fxFlex
            >
              <h3>Predpis zdravotných pomôcok</h3>
              <div fxFlex>
                <!-- medical needs autocomplete -->
                <mat-form-field color="accent" fxFlex>
                  <mat-label>Vyhľadať zdravotnú pomôcku</mat-label>
                  <input
                    matInput
                    #medicalNeedInputNative
                    formControlName="medicalNeed"
                    [matAutocomplete]="medicalNeedSuggestionsAuto"
                  />
                  <mat-autocomplete
                    #medicalNeedSuggestionsAuto="matAutocomplete"
                    (optionSelected)="onMedicalNeedSelected($event)"
                  >
                    <mat-option
                      *ngFor="let option of medicalNeedSuggestions"
                      [value]="option"
                    >
                      {{ option.zp_nazov }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <!-- medical needs list -->
              <mat-card
                class="new-record-list-item"
                *ngFor="let medicalNeed of selectedMedicalNeeds"
              >
                <mat-card-content>
                  <button
                    mat-icon-button
                    type="button"
                    (click)="removeMedicalNeed(medicalNeed)"
                    class="new-record-list-item-close-button"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  <h4>{{ medicalNeed.zp_nazov }}</h4>
                  <p>{{ "Kód zdravotnej pomôcky: " + medicalNeed.zp_kod }}</p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="end">
            <button
              mat-raised-button
              type="submit"
              color="primary"
              [disabled]="!isFormValid"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="center center"
                fxLayoutGap="5px"
              >
                <mat-icon>save</mat-icon>
                <span>Uložiť</span>
              </div>
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
