<main class="main-content main-content-column">
  <div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlexOffset="5">
      <div
        fxLayout="column"
        fxLayoutAlign="start start"
        fxFlex="50"
        fxFlex.lt-lg="90"
      >
        <div fxLayout="row" fxLayoutAlign="start-stretch" fxFlexFill>
          <mat-card
            fxFlexFill
            fxLayout="column"
            fxLayoutGap="16px"
            class="login-card"
          >
            <mat-card-content>
              <div fxLayout="column" fxLayoutAlign="space-between">
                <h1>Prihlásenie</h1>
                <form
                  [formGroup]="loginForm"
                  (ngSubmit)="onSubmit()"
                  fxLayout="column"
                  fxLayoutGap="20px"
                >
                  <mat-form-field color="accent">
                    <mat-label>E-mail</mat-label>
                    <input
                      formControlName="email"
                      matInput
                      autocomplete="email"
                    />
                    <mat-error
                      *ngIf="loginForm.controls['email'].errors?.required"
                    >
                      Povinné pole
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field color="accent">
                    <mat-label>Heslo</mat-label>
                    <input
                      formControlName="password"
                      [type]="hidePassword ? 'password' : 'text'"
                      matInput
                    />
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                      {{ hidePassword ? "visibility_off" : "visibility" }}
                    </mat-icon>
                    <mat-error
                      *ngIf="loginForm.controls['password'].errors?.required"
                    >
                      Nie je zadané heslo
                    </mat-error>
                  </mat-form-field>
                  <div fxLayout="row" fxLayoutAlign="end">
                    <button
                      mat-raised-button
                      [disabled]="loginForm.invalid"
                      type="submit"
                      color="primary"
                    >
                      <div
                        fxLayout="row"
                        fxLayoutAlign="start center"
                        fxLayoutGap="5px"
                      >
                        <mat-icon>login</mat-icon>
                        <span>Prihlásiť</span>
                      </div>
                    </button>
                  </div>
                </form>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</main>
