.navbar-container {
  padding: 5px 10px;
  background: #ffffff;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 6%) !important;
  z-index: 5;
}

.navbar-button {
  background-color: transparent;
}

.navbar-logo {
  height: 40px;
}

.navbar-search-group {
  width: 55%;
  font-size: 12px;
  height: fit-content;
  align-self: center;
  padding: 0 10px;
}

.navbar-button-group {
  height: fit-content;
  align-self: center;
}
