<mat-toolbar
  fxLayout="row"
  fxLayoutAlign="space-between"
  class="navbar-container mat-elevation-z4"
>
  <button mat-flat-button class="navbar-button" routerLink="/">
    <img src="../../../../assets/pfmed-logo.png" class="navbar-logo" />
  </button>
  <div
    class="navbar-button-group"
    fxLayout="row"
    fxLayoutAlign="flex-end"
    fxLayoutGap="10px"
  ></div>
</mat-toolbar>
