.prescription-dialog-list-item {
  background-color: var(--root-light-accent-text);
}

.prescription-dialog-list-item-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.prescription-dialog-list-item-info-button {
  position: absolute;
  top: 5px;
  right: 35px;
}
