<div matDialogContent>
  <div fxLayout="column" fxLayoutAlign="space-between">
    <form
      [formGroup]="prescriptionForm"
      (ngSubmit)="onSubmit()"
      fxLayout="column"
      fxLayoutGap="20px"
    >
      <!-- medicine and medical needs -->
      <div fxLayout="column" fxLayoutAlign="start-strecth" fxLayoutGap="16px">
        <!-- medicine -->
        <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px" fxFlex>
          <h3>Predpis liekov:</h3>
          <div fxFlex>
            <!-- medicine autocomplete -->
            <mat-form-field color="accent" fxFlex>
              <mat-label>Vyhľadať liek</mat-label>
              <input
                matInput
                #medicineInputNative
                formControlName="medicine"
                [matAutocomplete]="medicineSuggestionsAuto"
              />
              <mat-autocomplete
                #medicineSuggestionsAuto="matAutocomplete"
                (optionSelected)="onMedicineSelected($event)"
              >
                <mat-option
                  *ngFor="let option of medicineSuggestions"
                  [value]="option"
                >
                  {{ option.nazov + ", " + option.doplnok }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <!-- medicines list -->
          <mat-card
            class="prescription-dialog-list-item"
            *ngFor="let medicine of selectedMedicines"
          >
            <mat-card-content>
              <button
                mat-icon-button
                type="button"
                (click)="removeMedicine(medicine)"
                class="prescription-dialog-list-item-close-button"
              >
                <mat-icon>close</mat-icon>
              </button>
              <button
                mat-icon-button
                type="button"
                (click)="getMedicineInfo(medicine.sukl_kod)"
                class="prescription-dialog-list-item-info-button"
              >
                <mat-icon>info</mat-icon>
              </button>
              <h4>{{ medicine.nazov + ", " + medicine.doplnok }}</h4>
              <p>{{ "ŠÚKL kód: " + medicine.sukl_kod }}</p>
            </mat-card-content>
          </mat-card>
        </div>

        <!-- medical needs -->
        <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px" fxFlex>
          <h3>Predpis zdravotných pomôcok</h3>
          <div fxFlex>
            <!-- medical needs autocomplete -->
            <mat-form-field color="accent" fxFlex>
              <mat-label>Vyhľadať zdravotnú pomôcku</mat-label>
              <input
                matInput
                #medicalNeedInputNative
                formControlName="medicalNeed"
                [matAutocomplete]="medicalNeedSuggestionsAuto"
              />
              <mat-autocomplete
                #medicalNeedSuggestionsAuto="matAutocomplete"
                (optionSelected)="onMedicalNeedSelected($event)"
              >
                <mat-option
                  *ngFor="let option of medicalNeedSuggestions"
                  [value]="option"
                >
                  {{ option.zp_nazov }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <!-- medical needs list -->
          <mat-card
            class="prescription-dialog-list-item"
            *ngFor="let medicalNeed of selectedMedicalNeeds"
          >
            <mat-card-content>
              <button
                mat-icon-button
                type="button"
                (click)="removeMedicalNeed(medicalNeed)"
                class="prescription-dialog-list-item-close-button"
              >
                <mat-icon>close</mat-icon>
              </button>
              <h4>{{ medicalNeed.zp_nazov }}</h4>
              <p>{{ "Kód zdravotnej pomôcky: " + medicalNeed.zp_kod }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="16px">
        <button mat-stroked-button type="button" (click)="onClick(null)">
          Zrušiť
        </button>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="!isFormValid"
        >
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
            <mat-icon>save</mat-icon>
            <span>Uložiť</span>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>
