<mat-sidenav-container class="main-content sidenav-container">
  <mat-sidenav
    [mode]="sidenavMode$ | async"
    [opened]="sidenavOpened$ | async"
    disableClose
    class="sidenav-nav"
  >
    <div class="sidenav-nav-content">
      <h3 class="sidenav-title">Ponuka:</h3>
      <button
        mat-flat-button
        class="sidenav-item"
        routerLink="./patients"
        routerLinkActive="sidenav-item-active"
        (click)="collapseOnClick()"
      >
        <mat-icon class="sidenav-item-icon">group</mat-icon>
        Pacienti
      </button>
      <button
        mat-flat-button
        class="sidenav-item"
        routerLink="./waiting-room"
        routerLinkActive="sidenav-item-active"
        (click)="collapseOnClick()"
      >
        <mat-icon class="sidenav-item-icon">
          airline_seat_recline_normal
        </mat-icon>
        Čakáreň
      </button>
      <button
        mat-flat-button
        class="sidenav-item"
        routerLink="./new-appointment"
        routerLinkActive="sidenav-item-active"
        (click)="collapseOnClick()"
      >
        <mat-icon class="sidenav-item-icon">event</mat-icon>
        Objednať pacienta
      </button>
      <button mat-flat-button class="sidenav-item" (click)="logout()">
        <mat-icon class="sidenav-item-icon">logout</mat-icon>
        Odhlásiť
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
