<div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon class="warning-notification-icon"> warning </mat-icon>
    <i class="warning-notification-text" [innerHtml]="data.message">
        {{ data.message }}
    </i>
    <button mat-icon-button (click)="dismiss()">
        <mat-icon> highlight_off </mat-icon>
    </button>
</div>
