<div
  fxLayout="column"
  fxLayoutAlign="start"
  fxLayoutGap="16px"
  class="personal-anamnesis-container"
>
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-between center"
  >
    <h1>Osobná anamnéza</h1>
    <button mat-raised-button color="primary">
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="5px"
        (click)="createAnamnesis()"
      >
        <mat-icon>add</mat-icon>
        <span>Pridať záznam</span>
      </div>
    </button>
  </div>

  <div class="personal-anamnesis-bottom-divider"></div>

  <div *ngFor="let record of records" fxLayout="column" fxLayoutGap="10px">
    <mat-card class="personal-anamnesis-item">
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <h4>{{ record.createdAt | date: "dd.MM.yyyy" }}</h4>
          <div fxLayout="row" fxLayoutGap="10px">
            <button mat-icon-button (click)="editAnamnesis(record.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="removeAnamnesis(record.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <p>{{ record.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Paginator -->
  <mat-paginator
    (page)="handlePagination()"
    #paginator
    [length]="resultsLength"
    [pageSizeOptions]="[10, 20]"
    fxFill
  ></mat-paginator>
</div>
