.personal-anamnesis-container {
  padding: 16px;
}

.personal-anamnesis-bottom-divider {
  border-top: solid 1px rgba(16, 15, 16, 0.12);
  padding-top: 5px;
}

.personal-anamnesis-item {
  background-color: var(--root-light-accent-text);
}
