.app-wrapper {
  overflow: hidden;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.app-content {
  position: absolute;
  margin-top: 64px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

@media (max-width: 959px) {
  .app-content {
    position: absolute;
    margin-top: 50px;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
}
