<div
  fxLayout="column"
  fxLayoutAlign="start"
  fxLayoutGap="16px"
  class="history-container"
>
  <h1>Karta pacienta</h1>
  <mat-card fxFlex>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20px">
        <h3>Základné informácie:</h3>
        <div class="history-bottom-divider"></div>
        <div fxLayout="column" fxLayoutGap="10px">
          <h4 class="history-label-h4">Meno a priezvisko:</h4>
          <span>{{ patientData.firstName + " " + patientData.lastName }}</span>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
          <h4 class="history-label-h4">Rodné číslo:</h4>
          <span>
            {{
              patientData.identificationNumber.substring(0, 6) +
                "/" +
                patientData.identificationNumber.substring(6)
            }}
          </span>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
          <h4 class="history-label-h4">Dátum narodenia:</h4>
          <span>{{ patientData.birthDate | date: "dd.MM.yyyy" }}</span>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
          <h4 class="history-label-h4">Adresa:</h4>
          <div fxLayout="column" fxLayoutGap="5px">
            <span>{{
              patientData.street + " " + patientData.houseNumber
            }}</span>
            <span>{{ patientData.zipCode + ", " + patientData.city }}</span>
            <span>{{ patientData.country }}</span>
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
          <h4 class="history-label-h4">Kontaktné údaje:</h4>
          <div fxLayout="column" fxLayoutGap="5px">
            <span>{{ patientData.phone }}</span>
            <span>{{ patientData.email }}</span>
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
          <h4 class="history-label-h4">Váha:</h4>
          <span>{{ patientData.weight + "kg" }}</span>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
          <h4 class="history-label-h4">Výška:</h4>
          <span>{{ patientData.height + "cm" }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3>Dekurzy:</h3>
        <button mat-raised-button color="primary" routerLink="../new-record">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
            <mat-icon>add</mat-icon>
            <span>Nový dekurz</span>
          </div>
        </button>
      </div>
      <div class="history-bottom-divider"></div>
      <div
        *ngFor="let record of patientRecords"
        fxLayout="column"
        fxLayoutGap="10px"
      >
        <mat-expansion-panel class="history-record">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ record.createdAt | date: "dd.MM.yyyy" }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="column">
              <h4 class="history-label-h4">Popis:</h4>
              <p>
                {{ record.description }}
              </p>
            </div>
            <div fxLayout="column">
              <h4 class="history-label-h4">Diagnózy:</h4>
              <div
                fxLayout="column"
                fxLayoutGap="5px"
                *ngFor="let diagnose of record.diagnoses"
              >
                <span>{{ diagnose.abbreviation + " - " + diagnose.name }}</span>
              </div>
            </div>
            <div fxLayout="column">
              <h4 class="history-label-h4">Výkony:</h4>
              <div
                fxLayout="column"
                fxLayoutGap="5px"
                *ngFor="let procedure of record.procedures"
              >
                <span>{{
                  procedure.abbreviation + " - " + procedure.name
                }}</span>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
      <!-- Paginator -->
      <mat-paginator
        (page)="handlePagination()"
        #paginator
        [length]="resultsLength"
        [pageSizeOptions]="[10, 20]"
        fxFill
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
