.history-container {
  padding: 16px;
}

.history-label-h4 {
  margin: 0;
}

.history-bottom-divider {
  border-top: solid 1px rgba(16, 15, 16, 0.12);
  padding-top: 5px;
}

.history-record {
  margin: 5px 0;
}
