<div
  fxLayout="column"
  fxLayoutAlign="start"
  fxLayoutGap="16px"
  class="patients-container"
>
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex fxLayoutGap="50px">
    <!-- Searchbar -->
    <form [formGroup]="searchForm" (submit)="searchPatient()" fxFlex="50">
      <div fxLayout="row" fxFlex>
        <mat-form-field color="primary" fxFlex>
          <mat-label> Vyhľadať pacienta </mat-label>
          <input matInput formControlName="searchInput" type="text" />
          <mat-icon matSuffix (click)="searchPatient()">search</mat-icon>
        </mat-form-field>
      </div>
    </form>
    <!-- New documnet button -->
    <button (click)="addPatient()" mat-raised-button color="primary">
      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
        <mat-icon>add</mat-icon>
        <span>Pridať nového pacienta</span>
      </div>
    </button>
  </div>

  <mat-card fxFlex>
    <mat-card-content>
      <mat-table [dataSource]="patientsDataSource" fxFill>
        <!-- Identification number Column -->
        <ng-container matColumnDef="identificationNumber">
          <mat-header-cell *matHeaderCellDef> Rodné číslo </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.identificationNumber.substring(0, 6) +
              "/" +
              element.identificationNumber.substring(6)
          }}</mat-cell>
        </ng-container>

        <!-- First name Column -->
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef> Meno </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.firstName }}
          </mat-cell>
        </ng-container>

        <!-- Last name Column -->
        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef> Priezvisko </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.lastName }}
          </mat-cell>
        </ng-container>

        <!-- Birth date Column -->
        <ng-container matColumnDef="birthDate">
          <mat-header-cell *matHeaderCellDef> Dátum narodenia </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.birthDate | date: "dd.MM.yyyy" }}
          </mat-cell>
        </ng-container>

        <!-- Event listener -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="patients-table-row"
          routerLink="/patient/{{ row.id }}"
        ></mat-row>
      </mat-table>
      <!-- Paginator -->
      <mat-paginator
        (page)="handlePagination()"
        #paginator
        [length]="resultsLength"
        [pageSizeOptions]="[10, 20]"
        fxFill
      >
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
