.patients-container {
  padding: 16px;
}

.patients-table-row:hover {
  background-color: var(--root-light-disabled-text);
}

.patients-table-row:active {
  background-color: var(--root-light-accent-text);
}
