<h1 mat-dialog-title fxLayoutAlign="center center">
  Naozaj si prajete vymazať tento záznam?
</h1>
<div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="16px">
  <button mat-stroked-button (click)="onClick('no')">Zrušiť</button>
  <button mat-raised-button (click)="onClick('yes')" color="primary">
    Vymazať
  </button>
</div>
