<mat-sidenav-container class="main-content sidenav-container">
  <mat-sidenav
    [mode]="sidenavMode$ | async"
    [opened]="sidenavOpened$ | async"
    disableClose
    class="sidenav-nav"
  >
    <div class="sidenav-nav-content">
      <!-- <div>
        <div
          fxLayout="row"
          fxLayoutAlign="flex-start center"
          fxLayoutGap="20px"
          class="sidenav-profile"
        >
          <div fxLayout="column">
            <h3 class="sidenav-username">
              {{ patient.fullName }}
            </h3>
            <small class="sidenav-email">{{
              patient.identificationNumber
            }}</small>
          </div>
        </div>
      </div> -->
      <h3 class="sidenav-title">Ponuka:</h3>
      <button
        mat-flat-button
        class="sidenav-item"
        routerLink="./history"
        routerLinkActive="sidenav-item-active"
        (click)="collapseOnClick()"
      >
        <mat-icon class="sidenav-item-icon">list_alt</mat-icon>
        Karta pacienta
      </button>
      <button
        mat-flat-button
        class="sidenav-item"
        routerLink="./personal-anamnesis"
        routerLinkActive="sidenav-item-active"
        (click)="collapseOnClick()"
      >
        <mat-icon class="sidenav-item-icon">person</mat-icon>
        Osobná anamnéza
      </button>
      <button
        mat-flat-button
        class="sidenav-item"
        routerLink="./family-anamnesis"
        routerLinkActive="sidenav-item-active"
        (click)="collapseOnClick()"
      >
        <mat-icon class="sidenav-item-icon">family_restroom</mat-icon>
        Rodinná anamnéza
      </button>
      <button
        mat-flat-button
        class="sidenav-item"
        routerLink="./pharmacological-anamnesis"
        routerLinkActive="sidenav-item-active"
        (click)="collapseOnClick()"
      >
        <mat-icon class="sidenav-item-icon">vaccines</mat-icon>
        Farmakologická anamnéza
      </button>
      <button
        mat-flat-button
        class="sidenav-item"
        routerLink="./prescriptions"
        routerLinkActive="sidenav-item-active"
        (click)="collapseOnClick()"
      >
        <mat-icon class="sidenav-item-icon">medication</mat-icon>
        Recepty
      </button>
      <button
        mat-flat-button
        class="sidenav-item"
        routerLink="./new-record"
        routerLinkActive="sidenav-item-active"
        (click)="collapseOnClick()"
      >
        <mat-icon class="sidenav-item-icon">add</mat-icon>
        Vytvoriť dekurz
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
