.sidenav-container {
  height: 100%;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidenav-nav {
  width: 21.875rem;
  overflow-y: auto;
}

.sidenav-nav-content {
  padding: 0 15px;
}

.sidenav-profile {
  padding: 15px 0;
}

.sidenav-username {
  padding: 0;
  margin: 0;
  color: var(--root-dark-accent-text);
}

.sidenav-email {
  color: var(--root-accent-color);
}

.sidenav-title {
  font-weight: 400;
  color: var(--root-dark-text);
}

.sidenav-item {
  width: 100%;
  display: flex;
  justify-content: start;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid #e3e9ef !important;
  padding: 10px;
}

.sidenav-item:hover {
  color: var(--root-accent-color);
}

.sidenav-item-active {
  color: var(--root-accent-color);
}

.sidenav-item-icon {
  margin-right: 10px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 959px) {
  .sidenav-nav {
    width: 100%;
  }
}
