.mobile-navbar-container {
  padding: 5px 10px;
  height: max-content;
  background: #ffffff;
}

.mobile-navbar-button {
  background-color: transparent;
}

.mobile-navbar-logo {
  height: 30px;
}

.mobile-navbar-button-group {
  height: fit-content;
  align-self: center;
}

:host {
  .material-icons {
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &.animate {
      transform: rotate(180deg);
    }
  }
}
