<mat-toolbar
  fxLayout="column"
  fxLayoutAlign="start"
  color="#fff"
  class="mobile-navbar-container"
>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <button mat-flat-button class="mobile-navbar-button" routerLink="/">
      <img
        src="../../../../assets/pfmed-logo-mobile.png"
        class="mobile-navbar-logo"
      />
    </button>
    <div class="mobile-navbar-button-group">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon [ngClass]="{ animate: currentSidenavState }">
          {{ currentSidenavState ? "close" : "menu" }}
        </mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
