<div
  fxLayout="column"
  fxLayoutAlign="start"
  fxLayoutGap="16px"
  class="prescriptions-container"
>
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-between center"
  >
    <h1>Recepty</h1>
    <button mat-raised-button color="primary">
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="5px"
        (click)="createPrescription()"
      >
        <mat-icon>edit_note</mat-icon>
        <span>Nový recept</span>
      </div>
    </button>
  </div>

  <div class="prescriptions-bottom-divider"></div>

  <div
    *ngFor="let prescription of prescriptions"
    fxLayout="column"
    fxLayoutGap="10px"
  >
    <mat-card class="prescriptions-item">
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <h4>{{ prescription.createdAt | date: "dd.MM.yyyy" }}</h4>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
          <h4 class="preescriptions-label-h4">Predpísal:</h4>
          <span>
            {{
              prescription.employee.firstName +
                " " +
                prescription.employee.lastName
            }}
          </span>
        </div>
        <div *ngIf="prescription.medicine; else medicalNeed">
          <div fxLayout="column" fxLayoutGap="10px">
            <h4 class="preescriptions-label-h4">Názov lieku:</h4>
            <span>
              {{
                prescription.medicine.nazov +
                  " " +
                  prescription.medicine.doplnok
              }}
            </span>
          </div>
        </div>
        <ng-template #medicalNeed>
          <div fxLayout="column" fxLayoutGap="10px">
            <h4 class="preescriptions-label-h4">Názov pomôcky:</h4>
            <span>
              {{ prescription.medicalNeed.zp_nazov }}
            </span>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Paginator -->
  <mat-paginator
    (page)="handlePagination()"
    #paginator
    [length]="resultsLength"
    [pageSizeOptions]="[10, 20]"
    fxFill
  ></mat-paginator>
</div>
