.prescriptions-container {
  padding: 16px;
}

.prescriptions-bottom-divider {
  border-top: solid 1px rgba(16, 15, 16, 0.12);
  padding-top: 5px;
}

.prescriptions-item {
  background-color: var(--root-light-accent-text);
}

.prescriptions-label-h4 {
  margin: 0;
}
