html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:root {
  --root-dark-text: #363636;
  --root-dark-primary-text: rgba(54, 54, 54, 0.87);
  --root-dark-accent-text: rgba(54, 54, 54, 0.54);
  --root-dark-disabled-text: rgba(54, 54, 54, 0.38);
  --root-dark-dividers: rgba(54, 54, 54, 0.12);
  --root-dark-focused: rgba(54, 54, 54, 0.12);
  --root-light-text: #e6e6e6;
  --root-light-primary-text: #e6e6e6;
  --root-light-accent-text: rgba(230, 230, 230, 0.7);
  --root-light-disabled-text: rgba(230, 230, 230, 0.5);
  --root-light-dividers: rgba(230, 230, 230, 0.12);
  --root-light-focused: rgba(230, 230, 230, 0.12);
  --root-primary-color: #baf6f9;
  --root-primary-lighter-color: #eafcfd;
  --root-primary-darker-color: #a3f2f6;
  --root-accent-color: #3ce2ac;
  --root-accent-lighter-color: #c5f6e6;
  --root-accent-darker-color: #27d692;
  --root-warn-color: #f96767;
  --root-warn-lighter-color: #fdd1d1;
  --root-warn-darker-color: #f64a4a;
  --root-secondary-color: #d4fdfd;
  --root-secondary-lighter-color: #f2fefe;
  --root-secondary-darker-color: #c3fcfc;
  --root-success-color: #3ce24c;
  --root-success-lighter-color: #c5f6c9;
  --root-success-darker-color: #27d633;
  --root-warning-color: #ffe324;
  --root-warning-lighter-color: #fff7bd;
  --root-warning-darker-color: #ffd816;
}

.notification-snackbar {
  background: white !important;
  border-left: solid 10px var(--root-primary-color);
  border-right: solid 10px var(--root-primary-color);
  color: var(--root-dark-text) !important;
}

.main-content {
  padding-bottom: 64px;
  min-height: calc(100vh - 64px);

  .mat-drawer {
    padding-bottom: 64px;
  }
}

.main-content-column {
  display: flex;
  flex-direction: column;
}

@media (max-width: 959px) {
  .main-content {
    padding-bottom: 50px;
    min-height: calc(100vh - 50px);

    .mat-drawer {
      padding-bottom: 50px;
    }
  }
}
